.env

# Byte-compiled / optimized / DLL files__pycache__/
*.py[cod]*$py.class
# Distribution / packaging
dist/
build/
*.egg-info/*
# Virtual environmentsvenv/
env/

.venv/
# IDE specific files.idea/

# Local development
*.log


*.pyc







/



pocketflow_tracing.egg-info/PKG-INFO
pocketflow_tracing.egg-info/PKG-INFO
